In [1]:
import pandas as pd #load pandas

In [2]:
#Load dataset
play_data = pd.read_json('data/databoi_data_Set.json')

In [3]:
#inspect the types of data you have
play_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 385288 entries, 0 to 99999
Data columns (total 39 columns):
age_restriction            385288 non-null int64
android_version            385288 non-null object
app_name                   385288 non-null object
bug_fixes                  385288 non-null object
category                   385288 non-null object
current_version            385288 non-null object
description                385288 non-null object
developer_name             385288 non-null object
developer_website          385288 non-null object
five_stars                 385288 non-null int64
five_stars_d               385288 non-null int64
four_stars                 385288 non-null int64
four_stars_d               385288 non-null int64
id                         385288 non-null int64
in_app_purchases           385288 non-null object
installs                   385288 non-null object
installs_high              385288 non-null int64
installs_low               385288 non-null int64
interactive_elements       385288 non-null object
is_editors_choice          385288 non-null int64
last_updated               385288 non-null object
link                       385288 non-null object
logo_url                   385288 non-null object
one_star                   385288 non-null int64
one_star_d                 385288 non-null int64
other_apps_by_developer    385288 non-null object
parental_guide             385288 non-null object
permissions                385288 non-null object
price                      385288 non-null float64
price_currency             385288 non-null object
rating                     385288 non-null float64
rating_count               385288 non-null int64
record_time                385288 non-null datetime64[ns]
screenshots                385288 non-null object
three_stars                385288 non-null int64
three_stars_d              385288 non-null int64
two_stars                  385288 non-null int64
two_stars_d                385288 non-null int64
videos                     385288 non-null object
dtypes: datetime64[ns](1), float64(2), int64(16), object(20)
memory usage: 117.6+ MB

In [4]:
#Statistical description of data
play_data.describe().round(2)

,age_restriction,five_stars,five_stars_d,four_stars,four_stars_d,id,installs_high,installs_low,is_editors_choice,one_star,one_star_d,price,rating,rating_count,three_stars,three_stars_d,two_stars,two_stars_d
count,385288.00,385288.00,385288.00,385288.00,385288.00,385288.00,3.852880e+05,3.852880e+05,385288.00,385288.00,385288.00,385288.00,385288.00,385288.00,385288.00,385288.00,385288.00,385288.00
mean,0.50,7468.71,90.72,1646.42,19.19,194029.50,1.853763e+06,4.627855e+05,0.00,782.58,21.86,0.28,3.90,10952.31,743.94,11.69,310.66,6.32
std,2.64,217558.87,27.10,46995.69,19.90,111223.21,4.918482e+07,1.065746e+07,0.06,26508.46,28.32,3.10,1.13,317222.36,22450.38,15.28,9664.17,11.53
min,0.00,0.00,0.00,0.00,0.00,1386.00,-1.000000e+00,-1.000000e+00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
25%,0.00,7.00,100.00,1.00,4.00,97707.75,5.000000e+03,1.000000e+03,0.00,1.00,2.00,0.00,3.72,11.00,0.00,0.00,0.00,0.00
50%,0.00,45.00,100.00,8.00,15.00,194029.50,5.000000e+04,1.000000e+04,0.00,7.00,11.00,0.00,4.21,75.00,5.00,8.00,2.00,3.00
75%,0.00,387.00,100.00,83.00,27.00,290351.25,1.000000e+05,5.000000e+04,0.00,62.00,28.00,0.00,4.54,637.00,47.00,16.00,22.00,8.00
max,18.00,45268388.00,100.00,11536306.00,100.00,386673.00,5.000000e+09,1.000000e+09,1.00,9066508.00,100.00,399.99,5.00,75322743.00,6737929.00,100.00,3216770.00,100.00

In [5]:
#Eyeball the data
play_data.head()

,age_restriction,android_version,app_name,bug_fixes,category,current_version,description,developer_name,developer_website,five_stars,...,price_currency,rating,rating_count,record_time,screenshots,three_stars,three_stars_d,two_stars,two_stars_d,videos
0,0,Varies with device,Wear LCD Ghost Remove,Added Android Wear 2.0 watches support,Tools,Varies with device,This app may help you remove LCD ghosts from y...,Entera Studio,https://www.google.com/url?q=http://entera.pl&...,6,...,USD,4.42857,7,2018-03-15 12:18:43,https://lh3.googleusercontent.com/320JbNU9Spab...,0,0,0,0,
1,0,4.0.3,Where is my Train : Indian Railway & PNR Status,"* Seat Availability Improved, * You can filter...",Travel & Local,5.4.7,"""Where is my Train"" is a unique train app that...",? Sigmoid Labs,https://www.google.com/url?q=https://whereismy...,204944,...,USD,4.65594,274402,2018-03-15 12:18:44,https://lh3.googleusercontent.com/HRwhUIxYI0_f...,11075,5,1928,0,
10,0,Varies with device,Weather Belgium XL PRO,bug fix in the weather sharing feature,Weather,Varies with device,This is simply the best weather app for your r...,Exovoid Sàrl,https://www.google.com/url?q=http://www.exovoi...,2382,...,USD,4.48578,3868,2018-03-15 12:18:50,https://lh5.ggpht.com/Ir__p9ynmkWsyuR8QZCgSTu6...,162,6,52,2,
100,0,Varies with device,Wake Up Well,Improve update of complication.,Health & Fitness,Varies with device,Transform your Android Wear watch into a smart...,AppDevs,N/A,91,...,USD,3.74872,195,2018-03-15 12:19:40,https://lh3.googleusercontent.com/ykFa_YQ9nztL...,20,21,15,16,
1000,0,4.4,Todoist: To-do lists for task management & err...,"New:, • Improved Quick add performance., • You...",Productivity,12.6,Life can feel overwhelming. But it doesn’t hav...,Doist,https://www.google.com/url?q=http://todoist.co...,95155,...,USD,4.46724,147982,2018-03-15 12:28:58,https://lh3.googleusercontent.com/OQNZcANY8YLT...,7221,7,2836,2,https://www.youtube.com/embed/VJo1pPRGUEg?ps=p...

In [6]:
#get the number of columns and rows
play_data.shape

(385288, 39)

## Detecting outliers<br>
Everyone now and again you'll get a data point that lives out the normal range of an activity this is an outlier. For example you're usually order values is £50 but one day someone spent £200. You might want to filter this outlier because it's not representitive of a normal day and could skew any decision making.

In [7]:
#Create an object which is only the column we want to exclude the outliers from
num_ratings = play_data.rating_count
num_ratings

0              7
1         274402
10          3868
100          195
1000      147982
10000        136
100000         5
100001       680
100002       226
100003        60
100004     13424
100005        42
100006         2
100007         2
100008       145
100009       289
10001         27
100010       853
100011        19
100012       120
100013       480
100014        69
100015         7
100016       276
100017     67474
100018       123
100019       437
10002         20
100020         0
100021         2
           ...
99972        415
99973         12
99974        334
99975         99
99976        657
99977      41485
99978         30
99979       1420
9998          16
99980     265629
99981          2
99982         52
99983      29783
99984        145
99985         33
99986      11503
99987       2303
99988         90
99989        252
9999           2
99990        568
99991      16718
99992          5
99993       3721
99994         64
99995          7
99996        307
99997          5
99998        279
99999          1
Name: rating_count, Length: 385288, dtype: int64

In [8]:
num_ratings.mean()

10952.307058615892

In [9]:
# Filter the series for any values less 15000
num_ratings[num_ratings < 15000]

0             7
10         3868
100         195
10000       136
100000        5
100001      680
100002      226
100003       60
100004    13424
100005       42
100006        2
100007        2
100008      145
100009      289
10001        27
100010      853
100011       19
100012      120
100013      480
100014       69
100015        7
100016      276
100018      123
100019      437
10002        20
100020        0
100021        2
100022      169
100023       28
100024      378
          ...
99969        37
9997       3883
99970      9331
99971      3129
99972       415
99973        12
99974       334
99975        99
99976       657
99978        30
99979      1420
9998         16
99981         2
99982        52
99984       145
99985        33
99986     11503
99987      2303
99988        90
99989       252
9999          2
99990       568
99992         5
99993      3721
99994        64
99995         7
99996       307
99997         5
99998       279
99999         1
Name: rating_count, Length: 365784, dtype: int64

In [10]:
#Create a dataframe of only numerical data
numeric_data = play_data.select_dtypes(['float','int'])
numeric_data.head()

,age_restriction,five_stars,five_stars_d,four_stars,four_stars_d,id,installs_high,installs_low,is_editors_choice,one_star,one_star_d,price,rating,rating_count,three_stars,three_stars_d,two_stars,two_stars_d
0,0,6,100,0,0,1386,1000,500,0,1,16,0.0,4.42857,7,0,0,0,0
1,0,204944,100,53114,25,1387,10000000,5000000,0,3341,1,0.0,4.65594,274402,11075,5,1928,0
10,0,2382,100,1193,50,1396,500000,100000,0,79,3,0.0,4.48578,3868,162,6,52,2
100,0,91,100,39,42,1486,50000,10000,0,30,32,0.0,3.74872,195,20,21,15,16
1000,0,95155,100,38397,40,2386,50000000,10000000,1,4373,4,0.0,4.46724,147982,7221,7,2836,2

In [12]:
#Return a dataframe where all the values are below 15000
numeric_data[(numeric_data < 15000).all(1)]

,age_restriction,five_stars,five_stars_d,four_stars,four_stars_d,id,installs_high,installs_low,is_editors_choice,one_star,one_star_d,price,rating,rating_count,three_stars,three_stars_d,two_stars,two_stars_d
0,0,6,100,0,0,1386,1000,500,0,1,16,0.0,4.42857,7,0,0,0,0
10001,0,24,100,2,8,11387,5000,1000,0,0,0,0.0,4.85185,27,1,4,0,0
10002,0,19,100,1,5,11388,5000,1000,0,0,0,0.0,4.95000,20,0,0,0,0
10013,0,5,100,0,0,11399,5000,1000,0,3,60,0.0,3.50000,8,0,0,0,0
10014,0,4,100,1,25,11400,5000,1000,0,2,50,0.0,3.71429,7,0,0,0,0
10018,0,0,0,0,0,11404,1000,500,0,0,0,0.0,0.00000,0,0,0,0,0
1002,0,7,100,1,14,2388,5000,1000,0,3,42,0.0,3.81818,11,0,0,0,0
10021,0,11,100,2,18,11407,10000,5000,0,2,18,0.0,4.25000,16,1,9,0,0
10026,0,19,100,1,5,11412,5000,1000,0,1,5,0.0,4.76190,21,0,0,0,0
10027,0,5,100,0,0,11413,5000,1000,0,0,0,0.0,5.00000,5,0,0,0,0
10029,0,2,100,0,0,11415,500,100,0,0,0,0.0,4.00000,3,0,0,1,50
1003,0,0,0,0,0,2389,1000,500,0,0,0,0.0,0.00000,0,0,0,0,0
10031,0,0,0,0,0,11417,5000,1000,0,1,100,0.0,1.00000,1,0,0,0,0
10034,0,1,100,0,0,11420,500,100,0,0,0,0.0,5.00000,1,0,0,0,0
10038,0,12,100,0,0,11424,500,100,0,1,8,0.0,4.69231,13,0,0,0,0
10042,0,8,100,2,25,11428,10000,5000,0,0,0,0.0,4.80000,10,0,0,0,0
10045,0,18,100,3,16,11431,5000,1000,0,0,0,0.0,4.62500,24,3,16,0,0
10048,0,6,100,0,0,11434,5000,1000,0,0,0,0.0,4.71429,7,1,16,0,0
1005,0,22,100,5,22,2391,5000,1000,0,2,9,0.0,4.33333,33,3,13,1,4
10050,0,15,100,0,0,11436,10000,5000,0,4,26,0.0,3.95455,22,2,13,1,6
10051,0,0,0,0,0,11437,500,100,0,0,0,0.0,0.00000,0,0,0,0,0
10052,17,2,100,0,0,11438,5000,1000,0,0,0,0.0,5.00000,2,0,0,0,0
10055,0,0,0,0,0,11441,1000,500,0,0,0,0.0,0.00000,0,0,0,0,0
10059,0,9,100,1,11,11445,10000,5000,0,2,22,0.0,4.15385,13,1,11,0,0
10061,0,0,0,2,100,11447,100,50,0,0,0,0.0,4.00000,2,0,0,0,0
10065,0,31,100,2,6,11451,10000,5000,0,0,0,0.0,4.82857,35,2,6,0,0
10067,0,6,100,1,16,11453,1000,500,0,0,0,0.0,4.85714,7,0,0,0,0
10069,0,21,100,3,14,11455,10000,5000,0,13,61,0.0,3.35556,45,5,23,3,14
10073,0,6,100,2,33,11459,5000,1000,0,5,83,0.0,3.21429,14,0,0,1,16
10074,0,3,100,3,100,11460,5000,1000,0,1,33,0.0,3.87500,8,1,33,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9943,0,19,100,0,0,11329,10000,5000,0,2,10,0.0,4.47826,23,2,10,0,0
9945,0,31,100,0,0,11331,10000,5000,0,0,0,0.0,4.59459,37,3,9,3,9
995,0,4,66,0,0,2381,5000,1000,0,6,100,0.0,2.66667,12,2,33,0,0
9950,0,59,100,6,10,11336,10000,5000,0,9,15,0.0,4.29630,81,6,10,1,1
9951,0,57,100,1,1,11337,10000,5000,0,1,1,0.0,4.91525,59,0,0,0,0
9955,0,0,0,0,0,11341,500,100,0,1,100,0.0,2.00000,2,1,100,0,0
9956,0,10,100,4,40,11342,5000,1000,0,3,30,0.0,3.78261,23,6,60,0,0
9958,0,0,0,0,0,11344,500,100,0,0,0,0.0,0.00000,0,0,0,0,0
996,0,0,0,0,0,2382,500,100,0,0,0,0.0,0.00000,0,0,0,0,0
9961,0,2,100,0,0,11347,500,100,0,0,0,0.0,4.00000,4,2,100,0,0
9962,0,2,100,1,50,11348,5000,1000,0,0,0,0.0,4.66667,3,0,0,0,0
9963,0,2,100,1,50,11349,500,100,0,1,50,0.0,3.75000,4,0,0,0,0
9964,0,12,100,2,16,11350,10000,5000,0,0,0,0.0,4.52941,17,3,25,0,0
9967,0,31,100,1,3,11353,5000,1000,0,1,3,0.0,4.71429,35,1,3,1,3
9968,0,19,100,1,5,11354,10000,5000,0,2,10,0.0,4.41667,24,1,5,1,5
9969,0,23,100,2,8,11355,5000,1000,0,1,4,0.0,4.70370,27,1,4,0,0
9971,0,14,100,1,7,11357,1000,500,0,0,0,0.0,4.93333,15,0,0,0,0
9972,0,5,100,0,0,11358,5000,1000,0,0,0,0.0,5.00000,5,0,0,0,0
9973,0,22,100,4,18,11359,10000,5000,0,2,9,0.0,4.46667,30,2,9,0,0
9975,0,28,100,12,42,11361,10000,5000,0,0,0,0.0,4.58140,43,3,10,0,0
9977,0,3,100,0,0,11363,5000,1000,0,0,0,0.0,4.50000,4,1,33,0,0
9979,0,11,100,4,36,11365,5000,1000,0,1,9,0.0,4.27778,18,1,9,1,9
998,0,15,100,4,26,2384,10000,5000,0,1,6,0.0,4.25000,24,2,13,2,13
9987,0,17,100,1,5,11373,5000,1000,0,1,5,0.0,4.73684,19,0,0,0,0
9989,0,1,100,0,0,11375,500,100,0,0,0,0.0,5.00000,1,0,0,0,0
9990,0,5,100,0,0,11376,1000,500,0,1,20,0.0,4.33333,6,0,0,0,0
9992,0,4,100,0,0,11378,500,100,0,0,0,0.0,5.00000,4,0,0,0,0
9996,0,94,100,6,6,11382,10000,5000,0,3,3,0.0,4.76415,106,2,2,1,1
9998,0,11,100,3,27,11384,10000,5000,0,2,18,0.0,4.31250,16,0,0,0,0
9999,0,2,100,0,0,11385,1000,500,0,0,0,0.0,5.00000,2,0,0,0,0